<%= form_for(@collection) do |f| %>
  <% if @collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@collection.errors.count, "error") %> prohibited this collection from being saved:</h2>

      <ul>
      <% @collection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <br/>
  <%= f.label :atom_title %>
  <%= f.text_field :atom_title %>
  <br/>
  <%= f.label :slug %>
  <%= f.text_field :slug %>
  <br/>
  <%= f.label :hyacinth_project_string_key %>
  <%= f.text_field :hyacinth_project_string_key %>
  <br/>
  <%= f.label :parser %>
  <%= f.select(:parser, SWORD_CONFIG[:parsers]) %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
