<%= form_for(@depositor) do |f| %>
  <% if @depositor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@depositor.errors.count, "error") %> prohibited this depositor from being saved:</h2>

      <ul>
      <% @depositor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :name, "Full Name" %>
  <%= f.text_field :name %>
  <br/>
  <%= f.label :username %>
  <%= f.text_field :basic_authentication_user_id %>
  <br/>
  <%= f.label :password %>
  <%= f.text_field :password %>
  <br/>
  <%= f.label :password_confirmation %>
  <%= f.text_field :password_confirmation %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
