<p id="notice"><%= notice %></p>

<p>
  <strong>Full Name:</strong>
  <%= @depositor.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @depositor.basic_authentication_user_id %>
</p>

<% if current_user.admin? %>
  <%= link_to 'Edit', edit_depositor_path(@depositor) %> |
  <%= link_to 'Edit Permisisons', edit_permissions_depositor_path(@depositor) %>
  <%= link_to 'Delete', @depositor, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<%= link_to 'List of Depositors', depositors_path %>
