<p id="notice"><%= notice %></p>

<p>
  <strong>Full Name:</strong>
  <%= @depositor.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @depositor.basic_authentication_user_id %>
</p>

<%= link_to 'Edit', edit_depositor_path(@depositor) %> |
<%= link_to 'List of Depositors', depositors_path %>
