<p id="notice"><%= notice %></p>

<h1 class="top">Deposits</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Depositor</th>
      <th>Date Deposited</th>
      <th>Collection</th>
    </tr>
  </thead>

  <tbody class="index">
    <% @deposits.each do |deposit| %>
      <tr>
        <td><%= link_to deposit.title, deposit %></td>
        <td><%= deposit.depositor.name if deposit.depositor %></td>
        <td><%= deposit.created_at.localtime.strftime("%c") %></td>
        <td><%= deposit.collection.name if deposit.collection %></td>
      </tr>
    <% end %>
  </tbody>
</table>
