<p id="notice"><%= notice %></p>

<h1>Listing Deposits</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Depositor</th>
      <th>Date Deposited</th>
      <th>Collection</th>
    </tr>
  </thead>

  <tbody>
    <% @deposits.each do |deposit| %>
      <tr>
        <td><%= link_to deposit.title, deposit %></td>
        <td><%= link_to(deposit.depositor.name, deposit.depositor) if deposit.depositor %></td>
        <td><%= deposit.created_at %></td>
        <td><%= link_to(deposit.collection.name, deposit.collection) if deposit.collection %></td>
      </tr>
    <% end %>
  </tbody>
</table>
