<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @deposit.title %>
</p>

<p>
  <strong>Abstract:</strong>
  <%= @deposit.abstract %>
</p>

<p>
  <strong>Item in Hyacinth:</strong>
  <%= link_to(@deposit.item_in_hyacinth,
      HYACINTH_CONFIG[:url] + '#' +
      Rack::Utils.escape('{"controller":"digital_objects","action":"show","pid":"'+ "#{@deposit.item_in_hyacinth}"+'"}'),
      target: '_blank') %>
</p>

<p>
  <strong>Depositor:</strong>
  <%= @deposit.depositor.name if @deposit.depositor%>
</p>

<p>
  <strong>Deposit date:</strong>
  <%= @deposit.created_at %>
</p>
