<!DOCTYPE html>
<html>
<head>
  <title>CUL Sword<%= " (#{Rails.env})" unless Rails.env == 'sword_prod' %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <span class="logo">Sword App</span>
    <nav>
      <% if user_signed_in? %>
      <ul>
	<li><%= link_to 'Deposits', deposits_path %></li>
	<% if current_user.admin? %>
	<li><%= link_to 'Users', users_path %></li>
	<% end %>
	<li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
      </ul>
      <% end %>
    </nav>
  </header>

<%= yield %>

<%= debug(params) if Rails.env.development? %>
</body>
</html>
