<!DOCTYPE html>
<html>
<head>
  <title>SwordAlpha</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <span class="logo">Sword App</span>
    <nav>
      <ul>
	<li><%= link_to 'Deposits', deposits_path %></li>
	<li><%= link_to 'Collections', collections_path %></li>
	<li><%= link_to 'Depositors', depositors_path %></li>
      </ul>
    </nav>
  </header>

<%= yield %>

<%= debug(params) if Rails.env.development? %>
</body>
</html>
